


<!---

 /class="govuk-width-container" 
 The matching tags are in hero-area.html
 
 -->

	</main>
</div>





<style>
.govuk-footer { padding-bottom: 5em; border: none; }
.govuk-footer * { font-size: small; }
</style>

<footer class="govuk-footer" role="contentinfo">

  <div class="govuk-width-container">
    <!-- div class="govuk-footer__meta" -->
    <div>

      <p class="govuk-footer__licence-description">
      Whether you’re shifting careers, rethinking your business, or simply trying to find your next step, Clarity Method workshops offer a structured approach designed to help you think deeply, reset your perspective, and define your meaningful path forward – whether in work, life, or creative pursuits.</p>

      <p class="govuk-footer__licence-description">© {{ 'now' | date: "%Y" }} Cockburn Advisory Services Ltd. The Clarity Lab is a Cockburn Advisory service.</p>

    </div>
  </div>
</footer>




